################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionApp/.vs/FunctionApp/FileContentIndex/02ac7783-eca5-4c68-943c-ffc41b945ce4.vsidx
